@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');


:root {
  --Light-Grey: #F4F6FA;
  --Dark-Navy: #313E51;
  --Purple: #A729F5;
  --Pure-White: #FFF;
  --Navy: #3B4D66;
}

.dark-theme {
  --Light-Grey: #313E51;
  --Dark-Navy: #F4F6FA;
  --Pure-White: #3B4D66;
  & .switchContainer {
    justify-content: flex-end;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: var(--Light-Grey, #F4F6FA);
  font-family: 'Rubik', sans-serif;

}


.container {
  margin: 64px auto;
  width: 1160px;
  
}

.welcomePage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
}

.lightDark {
  display: flex;
  justify-content: flex-end;
  gap: 16px;

}

.switchContainer {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  padding: 4px;
  border-radius: 999px;
  background: var(--Purple, #A729F5);
  width: 48px;

  & img {
    width: 20px;
    height: 20px;
    fill: var(--Pure-White, #FFF);
  }
}

.hero {
  display: flex;
  justify-content: space-between;
}

.welcomeLetter {

  & .wlc {
    color: var(--Dark-Navy, #313E51);
    font-family: Rubik;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%; /* 64px */
  }

  & .feqz {
    color: var(--Dark-Navy, #313E51);
    font-family: Rubik;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 64px */
    margin-bottom: 48px;
  }

  & p {
    color: var(--Grey-Navy, #626C7F);
    font-family: Rubik;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%; /* 30px */
  }
}

.topicSelection {
  display: flex;
  flex-direction: column;
  gap: 24px;
  
  & button {
    cursor: pointer;
    display: flex;
    width: 564px;
    padding: 20px;
    align-items: center;
    gap: 32px;
    border: none;
    border-radius: 24px;
    background: var(--Pure-White, #FFF);
    box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
  }

  & p {
    color: var(--Dark-Navy, #313E51);
    font-family: Rubik;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 28px */
  }
}

.questionHeader {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  margin: 85px auto;
  align-items: center;
}

.questionTitle {
  display: flex;
  align-items: center;
  gap: 24px;

  & p {
    color: var(--Dark-Navy, #313E51);
    font-family: Rubik;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 28px */
  }
}

.questionSection {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  gap: 48px;
  
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.questionsText {
  
  & p {
    margin-bottom: 27px;
    color: var(--Grey-Navy, #626C7F);
    font-family: Rubik;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%; /* 30px */
  }

  & h2 {
    color: var(--Dark-Navy, #313E51);
    font-family: Rubik;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 43.2px */
  }

}


.progressbarContainer {
  background-color: var(--Pure-White, #FFF);
  padding: 0.25rem;
  border-radius: 62.5rem;
  height: 16px;
  
}
.progressbar {
  background-color: hsla(277, 91%, 56%, 1);
  border-radius: 6.5rem;
  height: 8px;
}




.answers {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .answer {
    border-radius: 24px;

    & h2 {
      color: var(--Grey-Navy);
      font-family: Rubik;
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      padding: 12px 18px;
      background-color: #F6E7FF;
      border-radius: 8px;
    }

  }

  .selected {
    border: 3px solid var(--Purple, #A729F5);
    & h2 {
      background-color: var(--Purple, #A729F5);
      color: var(--Pure-White, #FFF);
    }
  }

  & .wrong-answer {
    border: 3px solid red;

    & h2 {
      background-color: red;
      color: #fff;
    }
  }

  .correct-answer {
    border: 3px solid green;
    
    & h2 {
      background-color: green;
      color: #fff;
    }
  }

  & button {
    display: flex;
    width: 564px;
    padding: 20px;
    align-items: center;
    gap: 32px;
    border: none;
    border-radius: 24px;
    background: var(--Pure-White, #FFF);
    box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);

    & img {
      display: none;
    }
  }

  & span {
    padding: 15px;
    border-radius: 10px;
    background: var(--Light-Grey, #F4F6FA);
    color: var(--Grey-Navy, #626C7F);
    font-family: Rubik;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 28px */
  }

  & p {
    color: var(--Dark-Navy, #313E51);
    font-family: Rubik;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 28px */
  }

  & .submitAnswer {
    display: flex;
    padding: 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 24px;
    background: var(--Purple, #A729F5);
    box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
    & p {
      color: #fff;
      font-family: Rubik;
      font-size: 28px;
      font-weight: 500;
      line-height: 100%;
    }
  }
}




.answerBtn {
  color: var(--Pure-White, #FFF);
  font-family: Rubik;
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;

}

.finishQuizContainer {
  display: flex;
  justify-content: space-between;
}

.quizComplete {

  & .quizStatus {
    color: var(--Dark-Navy, #313E51);
    font-family: Rubik;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%; /* 64px */
  }

  & .scoreText {
    color: var(--Dark-Navy, #313E51);
    font-family: Rubik;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 64px */
  }
}

.quizScore {
  display: flex;
  flex-direction: column;
  display: flex;
  padding: 48px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  border-radius: 24px;
  background: var(--Pure-White, #FFF);
  box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
  width: 564px;

  & span {
    color: var(--Dark-Navy, #313E51);
    font-family: Rubik;
    font-size: 144px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 144px */
  }

  & p {
    color: var(--Grey-Navy, #626C7F);
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
  }
}

.access {
  display: flex;
  align-items: center;
  gap: 24px;

  & p {
    color: var(--Dark-Navy, #313E51);
    font-family: Rubik;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 28px */
  }
}

.playAgainBtn button {
  display: flex;
  padding: 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 24px;
  border: none;
  background: var(--Purple, #A729F5);
  box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
  margin-top: 32px;
  width: 100%;

  & p {
    color: #fff;
    font-family: Rubik;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 28px */
  }
}

@media (width < 769px) {
  .container {
    width: 100%;
    padding: 0 64px;
  }

  .hero {
    flex-direction: column;
    gap: 63px;
    margin: 0 auto;
  }

  .questionHeader {
    width: 100%;
  }

  .questionSection{
    width: 100%;
    flex-direction: column;
    gap: 0;
  }

  .questions{
    gap: 40px;
  }


  .progressbarContainer{
    margin-bottom: 64px;
  }

  .answers {
    & button {
      width: 100%;

    }
  }



  .finishQuizContainer {
    flex-direction: column;
  }

  .quizComplete {
    text-align: justify;
    margin-bottom: 64px;

  }

  .playAgainBtn button {
    width: 100%;
  }

  .quizScore {
    width: 100%;
  }


}


@media (width < 400px) {

  .container {
    margin: 24px auto;
    padding: 0 24px;
    width: 100%;
  }
  
  .hero {
    margin: 0;
  }

  .welcomePage {
    gap: 48px;
  }

  .welcomeLetter {
    & .wlc {
      font-size: 40px;
    }

    & .feqz {
      font-size: 40px;
    }

    & p {
      font-size: 14px;
    }
  }

  .topicSelection {
    & button {
      width: 100%;
      gap: 16px;
      padding: 12px;
      border-radius: 12px;
      
      
    }

    & p {
      font-size: 18px;
    }
  }

  .questionTitle {
    & p {
      font-size: 18px;
    }
  }

  .questionsText {
    & p {
      font-size: 14px;
    }

    & h2 {
      font-size: 20px;
    }
  }

  .questionHeader {
    margin: 0 0 48px 0;
  }

  .questions {
    gap: 24px;
  }

  .progressbarContainer {
    margin-bottom: 40px;
  }

  .answers {
    & .submitAnswer {
      padding: 20px;
      gap: 16px;
      border-radius: 12px;
      & p {
        font-size: 18px;
      }
    }

    & .answer {
      & button {
        width: 100%;
        gap: 16px;
        padding: 12px;
  
        
      }
      & p {
        font-size: 18px;
      }
      & h2 {
        font-size: 18px;
      }

      
    }
  }
  
  
  

  .quizComplete {

    margin-bottom: 40px;


    & .quizStatus {

      font-size: 40px;

    }


    & .scoreText {
        font-size: 40px;
    }

  }


  .quizScore {
    padding: 24px;
    gap: 24px;
    width: 100%;

    & span {
      font-size: 88px;
    }

    & p {
      font-size: 18px;
    }

    & .access {

      & p {
        font-size: 18px;
      }
  
    }
  }


     






}


